@font-face {
    font-family: "font-ttf";
    src: url(./font/Pony.ttf);
}
.game-xuc-xac{
    font-family: 'font-ttf';
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: bottom;
}